p{
    font-size: 20px;
    color: gray;
    margin-left: 20px;
    font-family: "The New Roman";
}

h3{
    color:gray;
    margin-left: 20px;
    font-family: "The New Roman";
}

h2{
    font-family: "The New Roman";
    padding-left: 20px;
    color: deeppink;
}