p{
    font-size: 20px;
    font-family: "The New Roman";
    color: gray;
    text-align: center;

}

.example-card_dashboard {
    width: 50px!important;
    box-sizing: border-box;
    text-align: center;
  }
  